
<h2>Afficher une sortie</h2>
<div class="container">
    <div class="row">
        <div class="col-5">
            <ul class="list-group">
                <li class="list-group-item">Nom de la sortie:</li>
                <li class="list-group-item">Date et heure de la sortie:</li>
                <li class="list-group-item">Date limit d'inscription:</li>
                <li class="list-group-item">Durée:</li>
                <li class="list-group-item">Description et info</li>
            </ul>
        </div>
        <div class="col-5">
            <ul class="list-group">
                <li class="list-group-item">Nom de la sortie:</li>
                <li class="list-group-item">Date et heure de la sortie:</li>
                <li class="list-group-item">Date limit d'inscription:</li>
                <li class="list-group-item">Durée:</li>
                <li class="list-group-item">Description et info</li>
            </ul>
        </div>
    </div>
</div>

