{% extends 'base.html.twig' %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/profil.css')}}">
{% endblock %}
{% block main%}

	<h1 class="text-center mt-5 mb-5">Gérer les villes</h1>
	<div class="container d-flex justify-content-center">

		<div class="row">


			<div class="col">
				<h4 class="d-block mb-3">Filtrer les villes</h4>
				<div class="d-flex justify-content-around align-items-center">
					<label for="nomVille" class="text-nowrap ">Le nom contient :</label>
					<input type="text" class="form-control ml-3" id="nomVille" placeholder="">
					<button type="button" class="btn btn-info ml-3">search</button>
				</div>
			</div>

		</div>
		<div class="row"></div>
	{% endblock %}
