<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">LOGO SORTIR.COM</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Villes
				</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">Sites
				</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">Accueil
				</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">Mon profil
				</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<a class="nav-link" href="{{path('app_logout') }}">Déconnexion
				<span class="sr-only">(current)</span>
			</a>
		</form>
	</div>
</nav>
